name: Публикация в PyPI

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  validate-tag:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.validate.outputs.version }}
      should-create-release: ${{ steps.validate.outputs.should-create-release }}
      prerelease: ${{ steps.validate.outputs.prerelease }}
    steps:
      - name: Получить версию из тега
        id: validate
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            TAG=${GITHUB_REF#refs/tags/}
          else
            echo "Выбрана ветка"
            exit 1
          fi

          # По умолчанию не создавать релиз
          SHOULD_CREATE="false"
          PRERELEASE="false"
          PUBLISH="false"

          # Чисто цифровой тег вида 1.2.3 — обычный релиз
          if [[ "$TAG" =~ ^([0-9]|[1-9][0-9]*)(\.([0-9]|[1-9][0-9]*)){2,}$ ]]; then
            SHOULD_CREATE="true"
            PRERELEASE="false"
            PUBLISH="true"

          # Теги alpha-1.2.3 или beta-1.2.3 — пререлиз
          elif [[ "$TAG" =~ ^(alpha|beta)-[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            SHOULD_CREATE="true"
            PRERELEASE="true"
          else
            SHOULD_CREATE="false"
            PRERELEASE="false"
          fi

          echo "should-create-release=$SHOULD_CREATE" >> $GITHUB_OUTPUT
          echo "prerelease=$PRERELEASE" >> $GITHUB_OUTPUT
          echo "version=$TAG" >> $GITHUB_OUTPUT
          echo "publish=$PUBLISH" >> $GITHUB_OUTPUT

  publish:
    runs-on: ubuntu-latest
    needs: validate-tag
    if: ${{ needs.validate-tag.outputs.publish == 'true'}}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.validate-tag.outputs.version }}

      - name: Настройка Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Создать файл версии
        run: echo "__version__ = '${{ needs.validate-tag.outputs.version }}'" > version.py

      - name: Установка зависимостей
        run: pip install build

      - name: Сборка пакета
        run: python -m build

      - name: Публикация в PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

  create-release:
    runs-on: ubuntu-latest
    needs: validate-tag
    if: ${{ needs.validate-tag.outputs.should-create-release == 'true' }}
    steps:
      - name: Создание релиза
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.validate-tag.outputs.version }}
          name: Релиз ${{ needs.validate-tag.outputs.version }}
          generate_release_notes: true
          prerelease: ${{ needs.validate-tag.outputs.prerelease }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}